*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.titelbildcontainer {
  width: 60vw;
  display: grid;
  grid-template-areas: "hb1 hb2" "hb3 hb4";
  margin: 1rem auto;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#headbox1 {
  grid-area: hb1;
}

#headbox2 {
  grid-area: hb2;
}

#headbox3 {
  grid-area: hb3;
}

#headbox4 {
  grid-area: hb4;
}

.title {
  width: 75vw;
  margin: 3rem;
  line-height: 2.5;
  border-top: 3px solid #fed8c5;
  border-bottom: 3px solid #fed8c5;
}

h1 {
  text-align: center;
  color: #fed8c5;
  text-transform: uppercase;
  padding: 1px;
  letter-spacing: 5px;
  font-weight: 80;
  background: linear-gradient(to right, #3e3b56, hsl(247deg, 19%, 15%), #3e3b56);
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .titelbildcontainer {
    width: 60vw;
    display: grid;
    grid-template-areas: "hb1 hb2" "hb3 hb4";
    margin: 1rem auto;
  }
  .headbox {
    flex: 1;
    background-size: cover;
    margin: 15px;
    box-shadow: 10px 5px 5px hsl(247deg, 19%, 15%);
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    position: relative;
    text-align: center;
    padding: 0 2em;
  }
  .titelbildcontainer {
    display: flex;
    height: 50vh;
    width: 80%;
    margin-top: 11vh;
  }
  .headbox {
    margin: 15px;
    box-shadow: 10px 5px 5px hsl(247deg, 19%, 15%);
  }
  .headbox img {
    max-width: auto;
    height: 100%;
    object-fit: cover;
  }
}
.navicontainer {
  width: 100vw;
  background: linear-gradient(to right, #3e3b56, hsl(247deg, 19%, 15%), #3e3b56);
}
.navicontainer .navitab {
  display: flex;
  justify-content: center;
  height: 2rem;
  color: #fed8c5;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .navicontainer {
    display: flex;
    flex-direction: row; /*default-Wert*/
    width: 100%;
    height: 80px;
    box-shadow: 8px 5px 5px hsl(247deg, 19%, 15%);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .navicontainer .navitab {
    height: auto;
    align-items: center;
    flex: 1;
    border: 2px solid hsl(247deg, 19%, 15%);
  }
  .navicontainer .navitab:hover {
    transition: all 0.1s ease;
    background-color: #fed8c5;
    font-size: 40px;
    text-shadow: 3px 4px hsl(247deg, 19%, 15%);
    color: #3e3b56;
  }
  .navicontainer a {
    font-size: 30px;
    letter-spacing: 8px;
  }
}
#categories {
  overflow: hidden;
  width: 90%;
  margin-top: 6rem;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

#categories li {
  position: relative;
  list-style-type: none;
  width: 27%;
  padding-bottom: 32%;
  float: left;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(3n+2) {
  margin: 0 1%;
}

#categories li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#categories li:nth-child(6n+4),
#categories li:nth-child(6n+5),
#categories li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(6n+4):last-child,
#categories li:nth-child(6n+5):last-child,
#categories li:nth-child(6n+6):last-child {
  margin-bottom: 0%;
}

#categories li * {
  position: absolute;
  visibility: visible;
}

#categories li > div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fed8c5;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
}

/* HEX CONTENT */
#categories li img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#categories div h3,
#categories div p {
  width: 80%;
  padding: 0 5%;
  background-color: hsl(247deg, 19%, 15%);
  background-color: hsla(247deg, 19%, 15%, 0.9);
  transition: top 0.2s ease-out, bottom 0.2s ease-out, 0.2s padding 0.2s ease-out;
}

#categories li h3 {
  bottom: 110%;
  font-weight: normal;
  font-size: 2em;
  padding-top: 100%;
  padding-bottom: 100%;
}

#categories li h3:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 45%;
  width: 100%;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid #fed8c5;
}

#categories li p {
  padding-top: 50%;
  top: 110%;
  padding-bottom: 50%;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

#categories h3 a {
  color: #fed8c5;
  font-weight: normal;
  font-size: 1em;
  bottom: 10%;
  left: 15%;
}

@media only screen and (min-width: 1024px) {
  /* HOVER EFFECT  */
  #categories li div:hover h3 {
    bottom: 50%;
    padding-bottom: 10%;
  }
  #categories li div:hover p {
    top: 50%;
    padding-top: 10%;
  }
}
.discocontainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flippingcard {
  height: 20vh;
  width: 60%;
  margin-top: 2rem;
  border: 1px solid hsl(247deg, 19%, 15%);
  box-shadow: 8px 5px 5px hsl(247deg, 19%, 15%);
}

.orpheum {
  background-image: url(../src/images/orpheum.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.ichliebedich {
  background-image: url(../src/images/ichliebedichalbumcover.jpg);
  background-size: cover;
  background-position: 15%;
}

.ifuckinglovemylife {
  background-image: url(../src/images/lovelife.jpg);
  background-size: cover;
}

.seieinfaberimwind {
  background-image: url(../src/images/faberimwind.jpg);
  background-size: cover;
}

.albumcontainer {
  border: 3px solid hsl(247deg, 19%, 15%);
  box-shadow: 10px 5px 5px hsl(247deg, 19%, 15%);
  padding-top: 2rem;
  margin: 0.5rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songcontainer {
  display: flex;
  margin: 2rem;
  min-width: 60vw;
}
.songcontainer div {
  margin-left: 10rem;
}
.songcontainer ol li {
  color: #fed8c5;
  font-size: 1.5rem;
}

ol li:hover {
  color: hsl(247deg, 19%, 15%);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  height: 20vh;
  background-color: #fed8c5;
}

.linkbox {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footerbox a {
  font-size: 1.5rem;
  color: #3e3b56;
}

.recht {
  color: #3e3b56;
  margin-top: 2rem;
  font-size: 16px;
}

body {
  font-family: "Permanent Marker", cursive;
  background-color: #3e3b56;
}

.hauptcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

h2 {
  text-align: center;
  color: #fed8c5;
  text-transform: uppercase;
  padding: 1px;
  letter-spacing: 6px;
  font-weight: 50;
  font-size: 2.5rem;
  background: linear-gradient(to right, #3e3b56, hsl(247deg, 19%, 15%), #3e3b56);
  border-top: 1px solid #fed8c5;
  border-bottom: 1px solid #fed8c5;
}

.navicontainer {
  width: 100vw;
  background: linear-gradient(to right, #3e3b56, hsl(247deg, 19%, 15%), #3e3b56);
}
.navicontainer .navitab {
  display: flex;
  justify-content: center;
  height: 2rem;
  color: #fed8c5;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .navicontainer {
    display: flex;
    flex-direction: row; /*default-Wert*/
    width: 100%;
    height: 80px;
    box-shadow: 8px 5px 5px hsl(247deg, 19%, 15%);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .navicontainer .navitab {
    height: auto;
    align-items: center;
    flex: 1;
    border: 2px solid hsl(247deg, 19%, 15%);
  }
  .navicontainer .navitab:hover {
    transition: all 0.1s ease;
    background-color: #fed8c5;
    font-size: 40px;
    text-shadow: 3px 4px hsl(247deg, 19%, 15%);
    color: #3e3b56;
  }
  .navicontainer a {
    font-size: 30px;
    letter-spacing: 8px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  height: 20vh;
  background-color: #fed8c5;
}

.linkbox {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footerbox a {
  font-size: 1.5rem;
  color: #3e3b56;
}

.recht {
  color: #3e3b56;
  margin-top: 2rem;
  font-size: 16px;
}

body {
  background-color: #3e3b56;
}/*# sourceMappingURL=faberimwind.css.map */