@use '_reset.scss';
@use '_variables.scss';
@import '_header.scss';
@import '_navi.scss';
@import '_music.scss';
@import '_discografie.scss';
@import '_album.scss';
@import '_footer.scss';


// TODO'S
// Musikrechte
// Shadow für die Waben
//Bilder verlinken in Handysicht
//Musik auf den Albenseiten
//Dropdown in Handysicht unter die Menüpunkte/Markise?)
//Übersicht schaffen im Sourcecode


body{
    font-family: 'Permanent Marker', cursive;
    background-color: variables.$faber1;
}

// .hauptcontainer{
// display: flex;
// flex-direction: column;
// align-items: center;
// justify-content: center;
// }

 .hauptcontainer{
    //width: 100%;
    width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;  
     justify-content: center; 
     border: 2px solid;
 }

  main{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;  
      justify-content: center; 
  }

h2{
    text-align: center;
    color: variables.$faber3;
    text-transform: uppercase;
    padding: 1px;
    letter-spacing: 6px;
    font-weight: 50;
    font-size: 2.5rem;
    // position: relative;
    background: linear-gradient(to right, variables.$faber1, variables.$faber2, variables.$faber1);
    border-top: 1px solid variables.$faber3;
    border-bottom: 1px solid variables.$faber3;
}